<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            background-color: darkkhaki;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 style="color: crimson;">Sample Email</h1>
    <p1>From the <strong>Boss</strong> himself</p1>
    <input type="button" value="Submit" name="submit">
    </div>
</body>

</html>